# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
rock_tmp/
*~
.libs
/test/ColorConvertTest
/source/Color
/source/RasterBgra
/test/ImageFileTest
/test/outputBGRA.png
/test/outputPNG.png
/test/outputJPEG.png
