# Autosave files
*~

# Project files
.anjuta*

# Build files
build
rock_tmp
.libs
.sam-cache

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*Test
*Fail
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/source/Constraints

# Test output
/test/*/output
/test/profilerTest.log
tests.use
Tests
