# Autosave files
*~

# Project files
.anjuta*

# Build files
build
rock_tmp
.libs
.sam-cache

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
Point
Size
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
/test/2d/float/SizeTest
/test/2d/float/PointTest
/test/2d/float/BoxTest
/test/2d/float/TransformTest
/test/FloatTransform2DTest
/test/FloatSize2DTest
/test/FloatPoint2DTest
/test/FloatBox2DTest
