sudo: false
addons:
  apt:
    packages:
    - libgc-dev
    - wget
before_script:
  - # sudo apt-get update
  - # sudo apt-get -y -qq install libgles2-mesa-dev
  - tmp="$(wget -O - https://github.com/cogneco/rock/releases/latest | grep -o '\<download/rock_.*deb\>')"
  - echo $tmp
  - wget https://github.com/cogneco/rock/releases/$tmp
  - dpkg-deb -x ${tmp##*/} .
  - mv usr/bin/rock .
  - mv usr/lib/fancy_backtrace.so .
  - tmp="$(wget -O - https://github.com/cogneco/magic/releases/latest | grep -o -m 1 '\<download/.*tar.gz\>')"
  - echo $tmp
  - wget https://github.com/cogneco/magic/releases/$tmp
  - tar zxvf ${tmp##*/}
  - ls /usr/include
  - export PATH=$PATH:$PWD
  - mkdir tools
  - export OOC_LIBS=$PWD/..
  - # otherwise, PWD/sdk.use will be used instead of PWD/tools/rock/sdk.use and rock will fail to compile.
  - # rock will look for .use files not in OOC_LIBS, but in subfolders to OOC_LIBS - in this case, OOC_LIBS/rock.
  - # (cd tools && git clone --depth=1 git://github.com/cogneco/sam.git)
  - # (cd tools/sam && rock -v)

script:
  - ./test.sh nogpu -Dnogpu
  - ./magic
